body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131629 !important;
  height: 100vh;
  color: #FFF !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  
}

.primary {background-color: #347afc;}
.secondary {background-color: #131629;}
.light-secondary {background-color: #2972fe1a}
.gray {background: #A5ABB3;}
.primary-gradient {background: linear-gradient(315deg, #2972FE -0.12%, #6499FF 99.88%);}
