.mobile-menu {
    padding: 15px 10px !important;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    border-top: 1px solid #282C49;
    z-index: 1400;
}

.search-results-title {
    font-weight: normal;
    font-size: unset;
    white-space: nowrap;
}

.result-title {
    padding-left: 10px;
    font-size: 20px;
    margin-top: 0;
}

.map-container {
    width: 100%;
    height: 100%;
}

.dark-form input {color: #FFF; padding: .5em 0; }
.dark-form .MuiInput-root:before { border-color: #ffffff4d !important;}
.dark-form, .dark-form .MuiFormLabel-root { color: #FFF; font-weight: 600; }
.light-form input { color: #000; }
